<%# Live metrics Turbo Stream %>
<%= turbo_stream_from "metrics" %>

<main class="mx-auto max-w-7xl px-6 pb-12 pt-24">
  <%# Dashboard grid: 2/3 chat + 1/3 sidebar %>
  <div class="grid grid-cols-1 gap-6 lg:grid-cols-3">
    <%= render partial: "home/chat_box" %>
    <div class="flex flex-col gap-6">
      <%= render partial: "home/kb_overview_summary_box" %>
      <%= render partial: "home/documents_summary_box" %>
    </div>
  </div>
</main>
