<%# Subscribe to live metrics updates pushed from TrackBedrockQueryJob %>
<%= turbo_stream_from "metrics" %>

<!-- particles.js container -->
<div id="particles-js" data-controller="particles"></div>

<!-- Main Content Container -->
<div class="document-page">
  <div class="document-container">
    <%= render partial: "home/chat_box" %>
    <%= render partial: "home/summary_box" %>
  </div>
</div>
