<div class="explanation-content-wrapper" data-controller="ai-summary" data-ai-summary-line-delay-value="110">
  <div class="explanation-content" data-ai-summary-target="container">
    <%= simple_format(summary) %>
  </div>
</div>

